* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabeca {

    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

}



a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    
}

#projetos {

    display: flex;
    flex-direction: row;
    
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
    margin-top: 50px;

}

#mural {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-top: 20px;
    width: 100%;
    height: 550px;
    background-color: rgb(255, 217, 223);
}

.item  {

 
 width: 400px;
 border-radius: 10px 10px 10px 10px;
 
 
}

img {

    border-radius: 10px;
}

#i1 {

    background-color: rgb(174, 255, 255);
}

#i2 {

    background-color: rgb(107, 237, 177);
}

#i3 {

    background-color: rgb(250, 250, 107);
}

h3 {

    font-size: xx-large;
    margin-top: 50px;
    ;  
}

p {

    font-size: x-large;
    margin-top: 20px;

}

button {

    margin-top: 60px;
    padding: 10px 20px;
    font-size: large;
    background-color: rgb(255, 140, 178);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
